# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# IDEA
.idea/
.vscode/
.pynb*

# PyBuilder
.pybuilder/
target/

# testing
/coverage

# production
/build

# misc
.DS_Store
*.pem


# local env files
.env*.local

# Databases
.db

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/